<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Safeview</title>


    {% load static %}
    <script language="JavaScript" type="text/javascript" src="https://d3js.org/d3.v3.min.js"></script>
    <script language="JavaScript" type="text/javascript"
            src="{% static "safeviewservice/scripts/d3.tip.v0.6.3.js" %}"></script>
    <script language="JavaScript" type="text/javascript"
            src="{% static "safeviewservice/scripts/helper.js" %}"></script>
    <script language="JavaScript" type="text/javascript"
            src="{% static "safeviewservice/scripts/jquery-1.12.0.min.js" %}"></script>
    <script language="JavaScript" type="text/javascript"
            src="{% static "safeviewservice/scripts/qv1.min.js" %}"></script>
    <script language="JavaScript" type="text/javascript"
            src="{% static "safeviewservice/scripts/harm-graph.js" %}"></script>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="{% static "safeviewservice/css/style.css" %}" rel="stylesheet">
</head>


<body>
<div class="container-fluid">
    <div class="row">
        {# THE SIDEBAR SECTION #}
        <div class="col-sm-2 col-md-2 col-lg-2 sidebar">
            <ul>
                <li class="sidebar-group form-group">
                    <h5 class="panel-title" data-toggle="collapse" href="#system-choice" aria-expanded="true">
                        <a class="panel-title-text">
{#                            <span class="caret"></span>#}
                            Systems
                        </a>
                    </h5>
                    <div id="system-choice" class="panel-collapse collapse in" aria-expanded="true">
                        <ul class="list-group">
                            {# System IDs populate this #}
                        </ul>
                    </div>
                </li>
                <li class="sidebar-group form-group" data-toggle="collapse" href="#harm-choice" aria-expanded="true">
                    <h5 class="panel-title">
                        <a class="panel-title-text">
{#                            <span class="caret"></span>#}
                            Harms
                        </a>
                    </h5>
                    <div id="harm-choice" class="panel-collapse collapse in" aria-expanded="true">
                        <ul class="list-group">
                            {# Harm IDs populate this #}
                        </ul>
                    </div>
                </li>
                {% comment %}
                <div class="sidebar-group form-group">
                    <h5>Upload</h5>
                    <form id="upload-form" action="" method="post" enctype="multipart/form-data">
                        <select id="upload-choice" class="form-control" name="upload-choice"></select>
                        <input type="file" name="upload-file" id="upload-file" value="Choose File">
                        <br>
                        <input type="submit" name="submit" class="sidebar-button btn btn-primary btn-sm disabled"
                               value="Upload">
                    </form>
                </div>
                {% endcomment %}
                <li class="sidebar-group">
                    <h5 class="panel-title">
                        <a class="panel-title-text">
                            Query
                        </a>
                    </h5>
                    <div class="sidebar-subgroup form-group">
                        <label for="harm-query">Query host names:</label>
                        <input id="harm-query" class="form-control" type="text" onchange="on_query_changes(this.value)">
                    </div>
                </li>
            </ul>
        </div>
        {# THE CENTRAL CONTENT BODY / DASH BOARD #}
        <div class="col-sm-9 col-sm-offset-3
                    col-md-10 col-md-offset-2
                    col-lg-10 col-lg-offset-2
                    main">
            <div id="header" class="row">
            </div>
            <div id="content">
                <div id="harm-upper" align="center">
                </div>
            </div>
            <div id="footer" class="row">
            </div>
        </div>
    </div>
</div>

<script language="JavaScript">
    var $content = $("#content");
    var upper_width = $content.width() - 40, upper_height = 600;
    var lower_width = $content.width() - 40, lower_height = 600;

    var harm_graph;


    // TODO: Should it be really be initially hidden?
    $("#harm-lower").hide();


    function keys(dictionary) {
        var keys = [];
        for (var key in dictionary) {
            if (dictionary.hasOwnProperty(key)) {
                keys.push(key);
            }
        }
        return keys;
    }


    /**
     * Promise based XHR for requesting the existing systems on the server, in assumed XML format.
     */
    function request_systems() {
        // Check if the systems ids have been defined in session storage.
        if (sessionStorage["systems"] != null && sessionStorage["systems"] != "") {
            return new Promise(function (resolve, reject) {
                var $xml = string_to_$xml(sessionStorage["systems"]);
                console.log("system list found locally");
                resolve($xml);
            })
        }
        // Otherwise, create the xml storage
        return new Promise(function (resolve, reject) {
            $.ajax({
                dataType: "xml",
                url: "/safeview/systems/",
                success: function (xml, status, xhr) {
                    var $systems = $(xml).find("systems");
                    sessionStorage["systems"] = $xml_to_string($systems);
                    console.log("system list retrieved from server");
                    resolve($systems);
                }
            })
        });
    }


    /**
     * Promised wrapped XHR for requesting the ids of the harms in a particular system from the server,
     * in an assumed XML format.
     */
    function request_system(system_id) {
        return new Promise(function (resolve, reject) {
            request_systems().then(function ($systems) {
                var $system = $systems.find("system[ id = '" + system_id + "' ]");
                if ($system.children().length != 0) {
                    console.log("System " + system_id + " found locally");
                    resolve($system);
                } else {
                    $.ajax({
                        dataType: "xml",
                        url: "/safeview/systems/" + system_id + "/",
                        success: function (xml, status, xhr) {
                            // Add each harm to the local system
                            $(xml).find("harm").each(function () {
                                $system.append(this);
                            });
                            // update session storage - really wish this line wasn't so ugly
                            sessionStorage["systems"] = $xml_to_string($systems);
                            console.log("System " + system_id + " retrieved from server")
                            resolve($system);
                        }
                    })
                }
            });
        });
    }


    /**
     * A promise wrapped XHR for retrieving a full XML HARM from either session storage or server side.
     */
    function request_harm(system_id, harm_id) {
        return new Promise(function (resolve, reject) {
            request_system(system_id).then(function ($system) {
                // Query for locally stored harm record
                var $harm = $system.find("harm[ id = '" + harm_id + "' ]");
                // ..check if it's content has been populated (<nodes><edges><upperLayers>)
                if ($harm.children().length != 0) {
                    console.log("Harm " + harm_id + " found locally");
                    resolve($harm);
                } else {
                    $.ajax({
                        dataType: "xml",
                        url: "/safeview/harms/" + system_id + "/" + harm_id + "/",
                        success: function (xml, status, xhr) {
                            var $xml = $(xml);
                            $harm.append($xml.find('nodes'));
                            $harm.append($xml.find('edges'));
                            $harm.append($xml.find('upperLayers'));
                            // Update local storage
                            var $systems = string_to_$xml(sessionStorage["systems"]);
                            $systems.find("system[ id = '" + system_id + "' ]").replaceWith($system);
                            sessionStorage["systems"] = $xml_to_string($systems);
                            console.log("Harm " + harm_id + " retrieved from server");
                            resolve($harm);
                        }
                    });
                }
            });
        })
    }


    function populate_system_ids() {
        return new Promise(function (resolve, reject) {
            request_systems().then(function ($systems) {
                $systems.find('system').each(function () {
                    var system_id = $(this).attr('id');
                    // populate the system-choice
                    var $system_item = $("<li></li>")
                            .addClass("list-group-item")
                            .val(system_id)
                            .text(system_id)
                            .click(on_system_selected);
                    $("#system-choice").find("ul").append($system_item);
                    // populate the upload-choice
                    {#                    var upload_option = $("<li></li>").val(system_id).text(system_id);#}
                    {#                    $("#upload-choice").append(upload_option);#}
                });
                resolve();
            })
        });
    }


    function populate_harm_ids(system_id) {
        return new Promise(function (resolve, reject) {
            request_system(system_id).then(function ($system) {
                // Drop the existing options
                var $harm_choice = $("#harm-choice");
                $harm_choice.find("li").remove();

                $system.find('harm').each(function () {
                    var harm_id = $(this).attr('id');
                    console.log(harm_id);
                    // populate the harm-choice
                    var $harm_item = $("<li></li>")
                            .addClass("list-group-item")
                            .val(harm_id)
                            .text(harm_id)
                            .click(on_harm_selected);
                    $harm_choice.find("ul").append($harm_item);
                });
                $harm_choice.find("li").first().addClass("selected");
                console.log($harm_choice.find(".selected"));
                resolve();
            });
        });
    }


    function on_system_selected() {
        $("#system-choice").find(".selected").removeClass("selected");
        var $selected_system = $(this);
        $selected_system.addClass("selected");
        return new Promise(function (resolve, reject) {
            var system_id = $selected_system.text();
            populate_harm_ids(system_id).then(function () {
                var $first_harm = $("#harm-choice").find("li").first();
                $.proxy(on_harm_selected, $first_harm[0])();
            }).then(resolve);
        });
    }


    function on_harm_selected() {
        var $harm_choice = $("#harm-choice");
        $harm_choice.find(".selected").removeClass("selected");
        var $selected_harm = $(this);
        $selected_harm.addClass("selected");
        return new Promise(function (resolve, reject) {
            var system_id = $("#system-choice").find(".selected").text();
            var harm_id = $selected_harm.text();
            request_harm(system_id, harm_id).then(function ($harm) {
                // Remove he old harm.
                $("#harm-upper").find("svg").remove();

                var d3$upper_svg = d3.select("#harm-upper")
                        .append("svg")
                        .attr("height", upper_height)
                        .attr("width", upper_width);

                //harm_upper(harm, upper_svg, upper_width, upper_height, -300, on_node_clicked);
                harm_graph = new HarmGraph(d3$upper_svg, upper_width, upper_height);
                harm_graph.addEntireHarm($harm);
                harm_graph.initialise();
                //harm_graph.addEntireHarm(harm);
                console.log(harm_graph);

                resolve();
            });
        });
    }


    function on_query_changes(query) {
        var d3$nodes = d3.selectAll(".node");
        d3$nodes.attr("opacity", 0.3);
        d3$nodes.filter(function (node) {
            return node.name.includes(query);
        }).attr("opacity", 1);

        var d3$links = d3.selectAll(".link");
        d3$links.attr("opacity", 0.3);
        d3$links.filter(function (link) {
            return link.source.name.includes(query) && link.target.name.includes(query);
        })
    }


    // Initialise the system selector.
    populate_system_ids().then(function () {
        // ... and then the harm selector.
        var $selected_system = $("#system-choice").find("li").first();
        $selected_system.addClass("selected");
        var system_id = $selected_system.text();
        if (system_id !== null) {
            populate_harm_ids(system_id).then(function () {
                var $first_harm = $("#harm-choice").find("li").first();
                $.proxy(on_harm_selected, $first_harm[0])();
            });
        }
    });


    function string_to_$xml(string) {
        return $((new DOMParser()).parseFromString(string, 'text/xml'));
    }


    function $xml_to_string($xml) {
        return (new XMLSerializer()).serializeToString($xml[0]);
    }

</script>
</body>
</html>