
p {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 10pt;
}

label {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 10pt;
}

button {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 9pt;
}

select {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 10pt;
}

option {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 9pt;
}

input {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 10pt;
}

#banner {
    height: 100px;
    border: 1px solid #000;
    margin: 0 0 5px 0;
}

#banner-title {
    padding-left: 20px;
}

.container {
    position: relative;
    padding: 0 0 0 260px;
}

#sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border: 1px solid #000;
    width: 250px;
}

.sidebar-group {
    border: 1px solid #000;
    padding: 2px 2px 2px 2px;
    margin: 1px 1px 1px 1px;
}

#system-choice {
    width: 100%;
}

#upload-choice {
    width: 100%;
}

.sidebar-button {
    width: 100%;
    text-align: left;
    border: 0;
}

#header {
    border: 1px solid #000;
    height: 100px;
    margin: 0 0 5px 0;
}

#content {
    border: 1px solid #000;
    margin: 5px 0 5px 0;
}

#footer {
    border: 1px solid #000;
    height: 100px;
    margin: 5px 0 0 0;
}

#harm-upper {
    padding: 10px;
}

#harm-lower {
    padding: 10px;
}

.node {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 8pt;
    color: #222;
}

circle {
    stroke: #fff;
    stroke-width: 2px;
}

.link {
    stroke: #999;
    stroke-opacity: .6;
}

div.tooltip {
    position: absolute;
    text-align: center;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: #DDD;
    border: 0px;
    border-radius: 4px;
    pointer-events: none;
}

#query-div {
    padding-top: 10px;
    padding-left: 20px;
}
